body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.login-container {
    background: white;
    padding: 25px;
    width: 330px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

input, button {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
}

button {
    background: #ffb800;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #e0a100;
}

.msg {
    color: red;
}
